extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? Enter your new password and passwordConfirm to: #{url}
  P Button doesn't work? Copy the link and paste it in a new tab.
  
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(style = "cursor:pointer" href=`${url}`, target='_blank') Reset your password
  p If you didn't forget your password, please ignore this email!